@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}

.loginForm{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 380px;
  width: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.loginForm h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.loginForm .form{
  padding: 0 40px;
  box-sizing: border-box;
}
.txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}
.txt_field input{
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.loginBtn{
  width: 100%;
  height: 40px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.loginBtn:hover{
  border-color: #2691d9;
  transition: .5s;
}
.classBtn,
.classNoBtn{
  border-radius: 3px;
  border: 1px solid #b3b3ba;
  min-height: 35px;
  width: 200px;
  font-size: 15px;
  outline: none;
  background: #dfdfe8;
}

.class_selector{
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #888;
}

.modeOption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  display: block;
}

.exerciseModeBtn{
  width: 200px;
  font-size: 25px;
  font-weight: 800;
  padding: 15px 30px;
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background: #2691d9;
  cursor: pointer;
}

.chanllengeModeBtn{
  width: 200px;
  font-size: 25px;
  font-weight: 800;
  padding: 15px 30px;
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background: #2691d9;
  cursor: pointer;
  color: black;
}

.chanllengeList,
.exerciseList{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 310px;
  width: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.chaTopicSelect{
  margin-left: 20px;
  background:#edf2ff;
  border:none;
  height: 40px;
  width: 300px;
  font-size: 15px;
  font-weight:550;
}


.levelSelect_cha,
.chaTopicSectionSelect,
.TopicSelect,
.levelSelect{
  margin-left: 20px;
  background:#edf2ff;
  border:none;
  height: 40px;
  width: 300px;
  font-size: 15px;
  font-weight:550;
  margin-bottom: 20px;
  color: black;
}

.chaTopicSelectBtn,
.TopicSelectBtn{
  width: 100px;
  font-size: 15px;
  font-weight: 550;
  padding: 5px 15px;
  margin-right: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background: #2691d9;
  cursor: pointer;
  float: right;
  color: black;
}

.info_box{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.info_box .info-title{
    height: 40px;
    width: 350px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.info_box .info-list{
    margin-left: 15px;
    padding: 15px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 15px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.quiz_box{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 40px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 400;
  font-size: 14px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  line-height: 23px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
  margin-left:5px;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}

.quiz_box section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

.quiz_box section .que_figure {
}

.quiz_box section .que_text {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: 20px 0px;
  display: block;
}

.quiz_box section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box section .option_list .option:last-child {
  margin-bottom: 0px;
}

.quiz_box section .option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.quiz_box section .option_list .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.quiz_box section .option_list .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.quiz_box section .option_list .option.disabled {
  pointer-events: none;
}

.quiz_box section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

.quiz_box footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  background: #fff;
}

.quiz_box footer button {
  height: 40px;
  width: 140px;
  margin-left: 65%;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.quiz_box footer button:hover {
  background: #0263ca;
}

.submitAnswer_btn,
.next_btn{
  display:none;
}

.result_box {
  background: #fff;
  border-radius: 5px;
  display: none;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result_box .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
}

.result_box .complete_text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.result_box .score {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.result_box .buttons {
  text-align: center;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.answerBox{
  position: relative;
  margin: 20px 0;
}
.answerBox input{
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #adadad;
}
.answerBox label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.answerBox input:focus ~ label,
.answerBox input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.answerBox input:focus ~ span::before,
.answerBox input:valid ~ span::before{
  width: 80%;
}

.input_respon{
  font-weight: 20px;
}
